@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.Footer {
    &__container {
        @include mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }
        @include tablet {
        }
        @include desktop {
        }
    }
}